.image {
    height: 40%;
    margin-bottom: 2%;
}

.parent-div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}
.text2{
    color: rgb(95, 95, 95);
}
.button{
    margin: 4%;
    /* border: 2px solid #00BC8C; */
    background-color: #FC8A06;
    height: 40px;
    width: 135px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    font-weight: 500;
}

.trash-icon {
    width: 20px; 
    height: 20px; 
    cursor: pointer;
}
.trash-button {
    background: none; 
    border: none;
    padding: 0;
}


/* TABLE */

.cartpagecss{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 24px;
    height: 10vh;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    background-color: #fc8a06;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablemain {
    width: 92.6%;
    margin: 20px;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.rowhead {
    /* background-color: #4CAF50; */
    color: #FC8A06;
    font-weight: 800;
    text-align: left;
}

.rowval {
    padding: 10px 15px;
    font-weight: bold;
}

.columnvalhead {
    border-bottom: 1px solid #ddd;
}

.table td {
    padding: 10px 15px;
    vertical-align: middle;
}

.trash-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.trash-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.2s;
}

.trash-button:hover .trash-icon {
    transform: scale(1.2);
}

.fs-2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #FC8A06;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #FC8A06;
}

@media (max-width: 768px) {
    .rowval, .table td {
        font-size: 14px;
        padding: 8px 10px;
    }
}


/* CHECKOUT */
.checkout-outer{
    display: flex;
    justify-content: center;
}
.checkout-inner{
    width: 20%;
}