/* *{
    padding: 2px;
} */

.navbarmain{
    /* height: 6rem; */
    /* padding: 0.6% 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 1%;
}
.navImg{
    border: 2px solid red;
    height: 6rem; 
    width: 20%;
    background-image: url('../Images/Navbar/logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: none;
}
.dyn-nav{
    width: 80%;
}
.navbtn{
    display: flex;
    justify-content: end;
    flex-direction: row;
    /* height: 90%;    */
    height: 6rem;
    width: 100%;
}
.buttons{
    width: 79.56%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.prs{
    /* border: 2px solid black; */
    width: 14%;
    height: 48%;
    border-radius: 25px;
    background-color: #FC8A06;
    border: none;
    font-size: 90%;
    font-weight: 500;
    cursor: pointer;
}
.prs:hover{
    font-size: 100%;
    font-weight: 600;
}
.abs{
    width: 14%;
    height: 48%;
    background-color: white;
    border: none;
    border-radius: 25px;
    font-size: 90%;
    font-weight: 500;
    cursor: pointer;
}
.abs:hover{
    font-size: 100%;
    font-weight: 600;
}
.abs1{
    background-color: white;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
}
.abs1:hover{
    font-size: 100%;
    font-weight: 600;
}
.lgout{
    width: 20.44%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lgoutbtn{
    width: 80%;
    height: 48%;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #03081F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.lgoutbtn:hover{  
    font-size: 100%;
    font-weight: 600;
}
.lgoutprofile{
    background-image: url('../Images/Navbar/user.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: none;
    height: 50%;
    width: 12%;
    margin-right: 5%;
}
.mycartabs{
    /* border: 2px solid blue; */
    width: 14%;
    height: 48%;
    background-color: white;
    /* border: none; */
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 90%;
}
/* .phone-nav{
    border: 2px solid blue;
    position: absolute;
    right: 0;
    background-image: url('../Images/Navbar/Menu.png');
    height:10%;
    width: 4%;
} */
.phone-nav{
    position: absolute; 
    right: 0;
    background-image: url('../Images/Navbar/Menu.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 50px; 
    width: 50px; 
}
.phone-nav-btn{
    /* border: 2px solid red; */
    padding-left: 2.25%;
    padding-right: 2.25%;
}
.phone-nav-buttons-main{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}
.phone-nav-buttons-main > button{
    background-color: #ffbf7e;
    height: 50px;
    font-size: small;
}



@media (max-width: 1024px){
    .dyn-nav{
        display: none;
    }
    .navbarmain{
        position: relative;
        width: 96.2%; /*    |||||||||||||||||||||||||||||||||||||||||||||||||||||||||    */
    }
    .navImg{
        width: 40%;
    }
}
@media (max-width: 760PX){
    .navImg{
        width: 60%;
    }
}
@media (min-width: 1024px) {
    .phone-nav, .phone-nav-btn{
        display: none;
    }
}